<%= render 'layouts/elements/navbar' %>

<div class="app-main">
  <%= render 'layouts/elements/sidebar' %>

  <div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="fa fa-rocket icon-gradient bg-arielle-smile">
                        </i>
                    </div>
                    <div>Dashboard
                        <div class="page-title-subheading">Badges and labels are used to offer extra small pieces of info for your content.
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                    <h1>Dashboard</h1>
                </div>    
            </div>
        </div>            
        
    </div>   
  </div>
  
</div>
