<nav class="navbar navbar-light fixed-top">
    <a class="navbar-brand">Bacotan</a>
    <div class="form-inline">
        <% if current_user %>
            Logged in as <%= current_user.name %>.
            <%= link_to 'Log Out', logout_path %>
        <% else %>
            <button class="btn btn-green-landing btn-navbar" type="submit">
                Masuk
            </button>
            <button class="btn btn-outline-green-landing btn-navbar" type="submit">
                Daftar
            </button>
        <% end %>
    </div>
</nav>